* {
  padding: 0;
  margin: 0;
}

.app-container {
  background: rgb(6, 58, 214);
  background: linear-gradient(90deg, rgb(120, 211, 241) 0%, rgb(36, 170, 236) 20%, rgb(12, 140, 204) 90%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  border: 10px solid black;
  border-bottom: 25px solid black;
  border-radius: 7px;
  box-shadow: 5px 5px 50px 7px orange;
  max-height: 70vh;
  max-width: 35vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
  padding: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  flex: 1;
}

.content img {
  max-width: 45%;
  float: left;
  margin: 5px;
}

.footer {
  display: flex;
  background-color: orange;
}

.footer a {
  flex: 1;
  text-decoration: none;
  color: grey;
}

.icon {
  max-width: 25px;
}

.button-top {
  background: none;
  color: grey;
  border: 1px grey solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}