* {
  padding: 0;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  background-color: orange;
}

.slides {
  display: flex;
}

.slides p {
  color: white;
  font-size: 3rem;
}

.slide1, .slide2, .slide3, .slide4, .slide5 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  flex: 1;
  transition: all;
  transition: ease-in-out;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slide1 {
  background-image: url('./pics/winter.jpeg');
}

.slide2 {
  background-image: url('./pics/spring.jpeg');
}

.slide3 {
  background-image: url('./pics/waterfall.jpeg');
}

.slide4 {
  background-image: url('./pics/summer.jpeg');
}

.slide5 {
  background-image: url('./pics/autumn.jpeg');
}

.top, .bottom {
  opacity: 0;
}

.slide1:hover, .slide2:hover, .slide3:hover, .slide4:hover, .slide5:hover {
  flex: 1.5;

  .top {
    opacity: 1;
    animation: fall 3s linear;
  }

  .bottom {
    opacity: 1;
    animation: fly 3s linear;
  }
}

@keyframes fall {

  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
  
}

@keyframes fly {

  from {
    transform: translateY(+100%);
  }
  to {
    transform: translateY(0%);
  }
  
}


