body {
  background-color: rgb(13, 13, 134);
}

:root {
  --color: #C1B100;
  --space: 0px;
  --blur: 0px;
}

.js {
  color: var(--color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.header {
  color: white;
}

.buttons p {
  color: white;
  margin: 10px;
}

.picture-box {
  margin-top: 40px;
  max-width: 800px;
  min-height: 400px;
  background-color: var(--color);
  border: solid black 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-box img {
  max-width: 100%;
  max-height: 100%;
  padding-top: var(--space);
  padding-left: var(--space);
  filter: blur(var(--blur));
}