body {
  background-image: url(./bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.clock {
  border: solid 10px black;
  border-radius: 50%;
  min-height: 250px;
  min-width: 250px;
  background-color: wheat;
  position: relative;
}

.hour, .minute, .second, .dot, .dot3, .dot6, .dot9, .dot12{
  position: absolute;
  transform-origin: 50% 100%; 
  transition: all 0.1s;
}

.dot, .dot3, .dot6, .dot9, .dot12 {
  width: 10px;
  height: 10px;
  border: solid black 2px;
  background-color: white;
  border-radius: 50%; 
}

.dot {
  left: 48%;
  top: 48.5%;
}

.dot3 {
  left: 95%;
  top: 47%;
}
.dot6 {
  left: 49%;
  top: 95%;
}
.dot9 {
  left: 0%;
  top: 47%;
}
.dot12 {
  left: 49%;
  top: 0%;
}

.hour {
  width: 2.5%;
  height: 25%; 
  background-color: black;
  left: 49%;
  top: 26%;
}

.minute {
  width: 1.5%;
  height: 40%; 
  background-color: grey;
  left: 50%;
  top: 11%;
}

.second {
  width: 1%;
  height: 47%; 
  background-color: red;
  left: 50%;
  top: 4%;
}