* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.app-container {
  height: 100vh;
  background: #21201E;
  display: flex;
}

/* #region   sidebar  */

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 274px;
  height: 100vh;
  box-shadow: 2px 0px 90px 0px rgba(97, 0, 194, 0.40);
}

.logo {
  margin-top: 40px;
  margin-bottom: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 131px;
  height: 32px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
  letter-spacing: 1.32px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 144px;
  height: 731.095px;
}

.menu-item {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  opacity: 0.8;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

.menu-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

/* #endregion */

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.row1 {
  height: 900px;
  background-image: url('../pics/row-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.content-nav {
  margin: 47px 42px 0px 32px;
  display: flex;
  justify-content: space-between;
}

.content-menu {
  display: flex;
  gap: 32px;
}

.content-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.user-menu {
  display: flex;
  gap: 24px;
}

.user-menu img {
  width: 24px;
  height: 24px;
}

.row2 {
  height: 1024px;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.row2 h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.movie-list {
  display: flex;
  gap: 24px;
}

.movie-item {
  width: 255px;
  height: 301px;
  border-radius: 20px;
  border: 1px solid #969696;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.movie-short {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 255px;
  height: 86px;
  border-radius: 0px 0px 20px 20px;
  opacity: 0.95;
  background: linear-gradient(100deg, #FFF 12.94%, rgba(255, 255, 255, 0.00) 159.1%);
  backdrop-filter: blur(10px);
}

.movie-info {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 20px;
}

.movie-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 20px;
}

.main-movie {
  margin-top: 3%;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-movie h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

.main-movie p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
}

.watch-button {
  border-radius: 14px;
  background: #6100C2;
  width: 139px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}