* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.app-container {
  min-height: 100vh;
  background-image: url('../pics/main-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-main {
  min-height: 100vh;
  background: rgba(97, 0, 194, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  transition: transform 1.5s ease;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0.1px silver solid;
  border-radius: 14px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 131px;
  height: 32px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
  letter-spacing: 1.32px;
  text-transform: uppercase;
}

.logo p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.login-button {
  display: flex;
  width: 225px;
  padding: 17px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 14px;
  background: #6100C2;
}

.login-button a {
  text-decoration: none;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  width: 300px;
  height: 250px;
  position: absolute;
  transform: translateY(600px);
  transition: transform 1s ease;
  padding-top: 14px;
  border: 0.1px silver solid;
  border-radius: 14px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.login-input input {
  min-width: 225px;
  border-radius: 14px;
  padding: 5px 5px;
  color: black;
}