* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  background-image: url('./bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 100px;
  opacity: 0.7;
}

.orderlist {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  background-color: rgba(240, 232, 232, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.orderlist h2 {
  padding-bottom: 30px;
  align-self: center;
}

.row {
  border-bottom: grey 2px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
  list-style: none;
}

.sendform {
  display: flex;
  gap: 10px;
}

.sendform input {
  flex: 1;
  max-width: 150px;
}
